.header {
  -fx-padding: 20px;
}

.form {
	-fx-border-width: 1;
	-fx-border-color: black; 
	-fx-padding: 10px;
}

.btn-blue {
	-fx-color: blue;
}

.btn-green {
	-fx-color: green;
}

.btn-purple{
	-fx-color: purple;
}

.main {
	-fx-border-width: 1;
	-fx-border-color: black; 
	-fx-padding: 50px;
	-fx-alignment: center;
}

.phone {
	-fx-border-width: 1;
	-fx-border-color: black; 
	-fx-padding: 10px;
	-fx-alignment: center;
	-fx-border-radius: 50px;
	
}